* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.8;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

h2{
    font-size: 2.5em;
    font-family: "Open Sans", serif;
}

h3 {
    font-size: 2em;
    font-family: "Open Sans", serif;
    color: black;
}

h4 {
    font-size: 1.5em;
    font-family: "Open Sans", serif;
}
h5{
    font-family: "Open Sans", serif;
    padding: 5% 0%;
}

p{
    font-family: "Open Sans", serif;
    font-size: 12px;
}
.p1{
    font-family: "Open Sans", serif;
    font-size: 12px;
    color: gray;
}

/*****************************HEADER*************************************************/
.header{
    height: 100vh;
    padding: 70% 35% 50% 10%;
    color: white;
    background-image: url("./img/mastehead.jpg");
    background-size: cover;   /* permet de couvrir toute la zone / permite de cubrir toda la zona */
    background-position: center; /* pour centrer l'image sur la div / para centrar la imagen en el div */
    background-repeat: no-repeat; /* pour que l'image ne se répète pas / para que no se repita la imagen */
}

#logo {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 3vh;
}
#take{
    position: absolute;
    top: 2%;
    left: 8%;
    font-size: 12px;
    font-style: italic;
}

/**************************************************PORTABLE**********************************************************/
 
/*-------------------------------------------------SECTION 1-----------------------------------------------------*/ 
.section_1{
    padding: 20% 10%;
}
.section_1_text{
    color: grey;
}

/*-------------------------------------------------SECTION 2-----------------------------------------------------*/ 
.section_2{
    padding: 10%;
    color: white;
}

#boite-1{
    padding: 10%;
    background-color: rgba(250, 37, 250, 0.993);
}

#boite-2{
    padding: 10%;
    background-color: rgb(141, 26, 126);
}

#boite-3{
    padding: 10%;
    background-image: url("./img/box-bg.jpg"); /* pour ajouter la photo de css / para agregar la foto desde css */
    background-size: cover;   /* permet de couvrir toute la zone / permite de cubrir toda la zona */
    background-repeat: no-repeat; /* pour ne pas répéter l'image / para que no repita la imagen */
    background-position: center; /* pour centrer la photo / para que la foto se centre */
}

#boite-4{
    padding: 10%;
    background-image: url("./img/box-bg-lg.jpg"); 
    background-size: cover;   
    background-repeat: no-repeat; 
    background-position: center; 
}

#boite-5{
    padding: 10%;
    background-color: rgb(49, 185, 133);
}

/*-------------------------------------------------SECTION 3 MOBILE-----------------------------------------------------*/ 
.section_3{
    padding: 20% 10%;
    
}
#section_3_comp{
    width: 100%;
}
.section_3_text {
    color: grey;
    padding-bottom: 5%;
}
/*-------------------------------------------------SECTION 4 PORTABLE-----------------------------------------------------*/ 
.section_4{
    height: 80vh;
    padding: 45% 20% 50% 10%;
    color: white;
    background-image: url("./img/full-image.jpg");
    background-size: cover;   
    background-repeat: no-repeat; 
}

/*-------------------------------------------------SECTION 5 PORTABLE-----------------------------------------------------*/ 
.section_5{
    padding: 20% 10%;
    background: rgb(49, 185, 133);
    color:white;
}

 /*-------------------------------------------------SECTION 6 PORTABLE-----------------------------------------------------*/ 
.section_6{
    padding: 20% 10%;  
}

.bothon-1 {
    background: rgb(2, 190, 175);
    color: white;
    font-size: 10px;
    font-family: "Gill Sans", sans-serif;
    width: 12vh;
    height: 6vw;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;   
}
#bc1{
    background-color: rgb(190, 186, 186);
}
#bc2{
    background-color: rgb(141, 60, 148);
    margin-top: 20%;
}
#bc3{
    background-color: rgb(49, 185, 133);
}
#bc4{
    background-color: rgb(49, 185, 133);
}
.logos1{
    width: 20%;
}

#log1 {
    position: relative;
    margin: 40px 40px -50px -85px;
}
#log2 {
    position: relative;
    margin: 40px 40px -55px -85px;
}

/*----------------------------------------------------FOOTER PORTABLE-----------------------------------------------------*/ 
#footer{
    padding: 10%;
    background-color: rgb(15, 13, 15);
    color:white;
}
#barre {
    width: 70vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
}
#bothon{
    position: relative;
    background: rgb(2, 190, 175);
    color: white;
    width: 8vw;
    height: 5.2vh;
    left: -10px;
    border: none;
    outline: none;    
}
#listes{
        display: flex; /* pour flexibilité ou flexbox / para la flexibidad o flexbox */
        flex-direction: row; /* pour aligner dans une rangée / para alinear en fila */
        flex-wrap: wrap;
        justify-content: space-between;  /* espace entre les paragraphes / espacio entre parrafos */
        align-items: center; /* pour aligner les paragraphes verticaux / para alinear los parrrafos vertical*/
        font-size: 12px;
}

/***************************************************TABLETTE*********************************************************/
@media screen and (min-width:768px) and (max-width:1024px){
    .header{
        padding: 50% 55% 65% 20%;
    }

    #logo {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 3vh;
    }

    #take{
        position: absolute;
        top: 2%;
        left: 8%;
        font-size: 24px;
    }

 /*--------------------------------------------------SECTION 1 TABLETTE-----------------------------------------------------*/ 
    .section_1{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center; 
    }

    .section_1_text{
        width: 50%;
    }

 /*--------------------------------------------------SECTION 2 TABLETTE-----------------------------------------------------*/ 
   #section_2_grid {
        display: grid; /* pour faire la grid / para hacer el grid */
        grid-template-rows: repeat(3, 1fr); /* pour faire une grille à 3 lignes / para hacer grid de 3 lineas */
        grid-template-columns: repeat(2, 1fr);/* pour faire une grille à 2 column / para hacer grid de 3 columnas */
    }

        #boite-1{
          grid-row: 1; /* pour positionner dans la grid sur la ligne 1 / para posicionar en grid en linea 1 */
          grid-column: 1/2; /* pour positionner dans la grid dans le bord de colonne 1 à bord2 / para posicionar en grid en columna borde 1 hasta borde2****/
        }
        
        #boite-2{
            grid-row: 1; 
            grid-column: 2/3;/* pour positionner dans la grille dans le bord de colonne 2 à bord3 */ 
        }                  /* para posicionar en grid en columna borde 2 hasta borde3 */
        
        #boite-3{
            grid-row: 2; 
            grid-column: 1/2; 
        }
        
        #boite-4{
            grid-row: 2; 
            grid-column: 2/3; 
        }
        
        #boite-5{
            grid-row: 3; 
            grid-column: 1/3; 
        }

   /*-------------------------------------------------SECTION 3 TABLETTE-----------------------------------------------------*/ 
   #section_3_comp{
         display: flex; 
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;  
     }

     .section_3_text{
         width: 45%;       
     }

  /*-------------------------------------------------SECTION 4 TABLETTE-----------------------------------------------------*/ 
  .section_4{
        padding: 25% 61% 50% 10%;
    }

 /*--------------------------------------------------SECTION 5 TABLETTE-----------------------------------------------------*/ 
  .section_5{
       padding: 25% 10%;
    }

    #section_5_comp{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center; 

    }

    .section_5_text{
        width: 30%;     
        padding: 5% 0%;   
    }

  /*-------------------------------------------------SECTION 6 TABLETTE-----------------------------------------------------*/ 
  #section_6_comp{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        padding-left: 10%;
    }

    .section_6_text{
        width: 40%;       
    }

    .bothon-1 {
        height: 4vw;
    }

    #border {
        margin-top: -8%;
    }
    .logos1{
        width: 30%;
        left: -15%;
    }

    /*-------------------------------------------------FOOTER TABLETTE-----------------------------------------------------*/  
    #bothon{
        width: 8vw;
        height: 5.5vh;
        font-size: 24px;
    }
}

/***************************************************ORDI************************************************************/
@media screen and (min-width:1025px){
    h2{
        font-size: 3.5em;
        font-family: "ARIAL", serif;
    }

    h3 {
        font-size: 2.5em;
        font-family: "ARIAL", serif;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: 1.2em;
    }

    p{
        font-family: "ARIAL", serif;
        font-size: 16px;
    }

    .header {
        padding: 50% 55% 50% 10%;   
    }
    #logo {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 3vh;
    }
    #take{
        position: absolute;
        top: 1%;
        left: 4%;
        font-size: 24px;
    }
    #iphone {
        position: absolute;
        background-image: url("img/iphone.png") ;
        background-size: cover;   
        background-repeat: no-repeat;
        width: 55vw;
        height: 125vh; 
        margin: -50px 0px -50px 450px;
    }
 /*------------------------------------------------SECTION 1 ORDI-------------------------------------------------------*/ 
 .section_1{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center; 
        padding: 20% 10%;
    }

    .section_1_text{
        width: 50%;
    }
   
    /*-----------------------------------------------SECTION 2-----------------------------------------------------*/ 
    #section_2_grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

        #boite-1{
          grid-row: 1;
          grid-column: 1/2;
          height: 30vh;
        }
        
        #boite-2{
            grid-row: 1;
            grid-column: 2/3;
            height: 30vh;
        }
        
        #boite-3{
            grid-row: 1;
            grid-column: 3/4;
            height: 30vh;
        }
        
        #boite-4{
            grid-row: 2;
            grid-column: 1/3;
            height: 30vh;
        }
        
        #boite-5{
            grid-row: 2;
            grid-column: 3/4;
            height: 30vh;
        }


    /*-----------------------------------------------SECTION 3 ORDI-----------------------------------------------------*/ 
    #section_3_comp {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center;
    }
    .section_3_text{
        width: 25%;
        padding: 5%  3%;  
    }
 /*--------------------------------------------------SECTION 4 ORDI-----------------------------------------------------*/
 .section_4{
    padding: 35% 35% 50% 25%;
    }
 /*--------------------------------------------------SECTION 5 ORDI-----------------------------------------------------*/
 .section_5{
    padding: 25% 10%;
    font-size: 18px;
 }

 #section_5_comp{
     display: flex; 
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;  
     align-items: center; 

 }

 .section_5_text{
     width: 30%;   
     padding: 5% 0%;      
 }
 /*--------------------------------------------------SECTION 6 ORDI-----------------------------------------------------*/
 #section_6_comp{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center; 
    padding: 0% 10%;
}

.section_6_text{
    width: 30%; 
    padding: 2% 5%;    
}

.bothon-1 {
    height: 2.5vw;
    font-size: 12px;
}
.logos1{
    width: 30%;
}

#log1 {
    position: relative;
    margin: -50px 40px -60px -100px;
}
#log2 {
    position: relative;
    margin: 60px 40px -62px -85px;
    width: 33%;
}

#text_6{
    padding: -70% 0% 0% 20%;
    width: 30vw;
}

.borde-ani-imag.col-1 {
    display: absolute;
    width: 30vw;  
    height: 42vh; 
    border-width: 5px 5px; 
    border-radius: 20px; 
    margin: -30% 0% 20% 68%;
  }
  @keyframes borde-ani-imag-row-1{
    0% {
      border-color: rgba(0, 0, 0, 0.25);
      border-top-color: black;
    }
  25% {
      border-color: rgba(0, 0, 0, 0.25);
      border-right-color: black;
    }
  
    50% {
      border-color: rgba(0, 0, 0, 0.25);
      border-bottom-color: black;
    }
  
    75% {
      border-color: rgba(0, 0, 0, 0.25);
      border-left-color: black;
    }
  
    100% {
      border-color: rgba(0, 0, 0, 0.25);
      border-top-color: black;
    }
  }
  
  .borde-ani-imag {
    border: 15px solid black;
   }
  .borde-ani-imag.row-1 {
  animation: borde-ani-imag-row-1 750ms linear infinite;
  }
 /*--------------------------------------------------FOOTER ORDI-----------------------------------------------------*/
 #listes{
     padding: 10% 10%;
     font-size: 14px;
 }

}
