* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    line-height: 1.8;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
}

h2{
    font-size: 2.5em;
    font-family: "Open Sans", serif;
}

h3 {
    font-size: 2em;
    font-family: "Open Sans", serif;
    color: black;
}

h4 {
    font-size: 1.5em;
    font-family: "Open Sans", serif;
}
h5{
    font-family: "Open Sans", serif;
    padding: 5% 0%;
}

p{
    font-family: "Open Sans", serif;
    font-size: 12px;
}
.p1{
    font-family: "Open Sans", serif;
    font-size: 12px;
    color: gray;
}

/*****************************HEADER*************************************************/
.header{
    height: 100vh;
    padding: 70% 35% 50% 10%;
    color: white;
    background-image: url("./img/mastehead.jpg");
    background-size: cover;   /***permite de cubrir toda la zona***/
    background-position: center; /*** para centrar en el div***/
    background-repeat: no-repeat; /* para que no se repita**/
}

#logo {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 3vh;
}
#take{
    position: absolute;
    top: 2%;
    left: 8%;
    font-size: 12px;
    font-style: italic;
}

/**************************************************PORTABLE**********************************************************/
 
/*-------------------------------------------------SECTION 1-----------------------------------------------------*/ 
.section_1{
    padding: 20% 10%;
}
.section_1_text{
    color: grey;
}

/*-------------------------------------------------SECTION 2-----------------------------------------------------*/ 
.section_2{
    padding: 10%;
    color: white;
}

#boite-1{
    padding: 10%;
    background-color: rgba(250, 37, 250, 0.993);
}

#boite-2{
    padding: 10%;
    background-color: rgb(141, 26, 126);
}

#boite-3{
    padding: 10%;
    background-image: url("./img/box-bg.jpg"); /*para agregar la foto desde css*/
    background-size: cover;   /***permite de cubrir toda la zona***/
    background-repeat: no-repeat; /*para que no repita la imagen*/
    background-position: center; /*para que la foto se centre*/
}

#boite-4{
    padding: 10%;
    background-image: url("./img/box-bg-lg.jpg"); 
    background-size: cover;   
    background-repeat: no-repeat; 
    background-position: center; 
}

#boite-5{
    padding: 10%;
    background-color: rgb(49, 185, 133);
}

/*-------------------------------------------------SECTION 3 MOBILE-----------------------------------------------------*/ 
.section_3{
    padding: 20% 10%;
    
}
#section_3_comp{
    width: 100%;
}
.section_3_text {
    color: grey;
    padding-bottom: 5%;
}
/*-------------------------------------------------SECTION 4 PORTABLE-----------------------------------------------------*/ 
.section_4{
    height: 80vh;
    padding: 45% 20% 50% 10%;
    color: white;
    background-image: url("./img/full-image.jpg");
    background-size: cover;   /***permite de cubrir toda la zona***/
    background-repeat: no-repeat; /* para que no se repita**/
}

/*-------------------------------------------------SECTION 5 PORTABLE-----------------------------------------------------*/ 
.section_5{
    padding: 20% 10%;
    background: rgb(49, 185, 133);
    color:white;
}

 /*-------------------------------------------------SECTION 6 PORTABLE-----------------------------------------------------*/ 
.section_6{
    padding: 20% 10%;  
}

.logos1{
    width: 20%;
}

.bothon-1 {
    background: rgb(2, 190, 175);
    color: white;
    font-size: 10px;
    font-family: "Gill Sans", sans-serif;
    width: 12vh;
    height: 6vw;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;   
}
#bc1{
    background-color: rgb(190, 186, 186);
}
#bc2{
    background-color: rgb(141, 60, 148);
}
#bc3{
    background-color: rgb(49, 185, 133);
}
#bc4{
    background-color: rgb(49, 185, 133);
}


/*----------------------------------------------------FOOTER PORTABLE-----------------------------------------------------*/ 
#footer{
    padding: 10%;
    background-color: rgb(15, 13, 15);
    color:white;
}
#barre {
    width: 70vw;
    height: 5vh;
    border-radius: 5px;
    border: none;
    outline: none;
}
#bothon{
    position: relative;
    background: rgb(2, 190, 175);
    color: white;
    width: 8vw;
    height: 5.2vh;
    left: -10px;
    border: none;
    outline: none;    
}
#listes{
        display: flex; /***para la flexibidad o flexbox*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  /** espacio entre parrafos */
        align-items: center; /***para alinear los parrrafos vertical*/
        font-size: 12px;
}
/***************************************************TABLETTE*********************************************************/
@media screen and (min-width:768px) and (max-width:1024px){
    .header{
        padding: 50% 55% 50% 10%;
    }
    #logo {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 3vh;
    }
    #take{
        position: absolute;
        top: 2%;
        left: 8%;
        font-size: 24px;
    }

 /*--------------------------------------------------SECTION 1 TABLETTE-----------------------------------------------------*/ 
    .section_1{
        display: flex; /***para la flexibidad o flexbox*/
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  /** espacio entre parrafos */
        align-items: center; /***para alinear los parrrafos vertical*/

    }

    .section_1_text{
        width: 50%;
    }

 /*--------------------------------------------------SECTION 2 TABLETTE-----------------------------------------------------*/ 
   #section_2_grid {
        display: grid; /****para hacer el grid****/
        grid-template-rows: repeat(3, 1fr); /****para hacer grid de 3 lineas****/
        grid-template-columns: repeat(2, 1fr);/****para hacer grid de 2 columnas****/
    }

        #boite-1{
          grid-row: 1; /** para posicionar en grid en linea 1**/
          grid-column: 1/2; /****para posicionar en grid en columna borde 1 hasta borde2****/
        }
        
        #boite-2{
            grid-row: 1; /** para posicionar en grid en linea 1**/
            grid-column: 2/3; /****para posicionar en grid en columna borde 2 hasta borde3****/
        }
        
        #boite-3{
            grid-row: 2; /** para posicionar en grid en linea 2**/
            grid-column: 1/2; /****para posicionar en grid en columna borde 1 hasta borde2****/
        }
        
        #boite-4{
            grid-row: 2; /** para posicionar en grid en linea 2**/
            grid-column: 2/3; /****para posicionar en grid en columna borde 2 hasta borde3****/
        }
        
        #boite-5{
            grid-row: 3; /** para posicionar en grid en linea 3**/
            grid-column: 1/3; /****para posicionar en grid en columna borde 1 hasta borde3****/
        }

   /*-------------------------------------------------SECTION 3 TABLETTE-----------------------------------------------------*/ 
   #section_3_comp{
         display: flex; 
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;  
     }

     .section_3_text{
         width: 45%;       
     }

  /*-------------------------------------------------SECTION 4 TABLETTE-----------------------------------------------------*/ 
  .section_4{
        padding: 25% 61% 50% 10%;
    }

 /*--------------------------------------------------SECTION 5 TABLETTE-----------------------------------------------------*/ 
  .section_5{
       padding: 25% 10%;
    }

    #section_5_comp{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center; 

    }

    .section_5_text{
        width: 30%;     
        padding: 5% 0%;   
    }

  /*-------------------------------------------------SECTION 6 TABLETTE-----------------------------------------------------*/ 
  #section_6_comp{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center; 
    }

    .section_6_text{
        width: 40%;        
    }

    .bothon-1 {
        height: 4vw;
    }
    .logos1{
        width: 30%;
    }

    /*-------------------------------------------------FOOTER TABLETTE-----------------------------------------------------*/  
    #bothon{
        width: 8vw;
        height: 5.5vh;
        font-size: 24px;
    }
}

/***************************************************ORDI************************************************************/
@media screen and (min-width:1024px){
    h2{
        font-size: 3.5em;
        font-family: "ARIAL", serif;
    }

    h3 {
        font-size: 2.5em;
        font-family: "ARIAL", serif;
    }
    h4{
        font-size: 1.5em;
    }
    h5{
        font-size: 1.2em;
    }

    p{
        font-family: "ARIAL", serif;
        font-size: 16px;
    }

    .header {
        padding: 50% 55% 50% 10%;   
    }
    #logo {
        position: absolute;
        top: 2%;
        left: 2%;
        width: 3vh;
    }
    #take{
        position: absolute;
        top: 1%;
        left: 4%;
        font-size: 24px;
    }
    #iphone {
        position: absolute;
        background-image: url("img/iphone.png") ;
        background-size: cover;   
        background-repeat: no-repeat;
        width: 45vw;
        height: 118vh; 
        margin: -50px 0px -50px 600px;
    }
 /*------------------------------------------------SECTION 1 ORDI-------------------------------------------------------*/ 
 .section_1{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;  
        align-items: center; 
        padding: 20% 10%;
    }

    .section_1_text{
        width: 50%;
    }
   
    /*-----------------------------------------------SECTION 2-----------------------------------------------------*/ 
    #section_2_grid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }

        #boite-1{
          grid-row: 1;
          grid-column: 1/2;
          height: 30vh;
        }
        
        #boite-2{
            grid-row: 1;
            grid-column: 2/3;
            height: 30vh;
        }
        
        #boite-3{
            grid-row: 1;
            grid-column: 3/4;
            height: 30vh;
        }
        
        #boite-4{
            grid-row: 2;
            grid-column: 1/3;
            height: 30vh;
        }
        
        #boite-5{
            grid-row: 2;
            grid-column: 3/4;
            height: 30vh;
        }


    /*-----------------------------------------------SECTION 3 ORDI-----------------------------------------------------*/ 
    #section_3_comp {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: center;
    }
    .section_3_text{
        width: 25%;
        padding: 5%  3%;  
    }
 /*--------------------------------------------------SECTION 4 ORDI-----------------------------------------------------*/
 .section_4{
    padding: 35% 35% 50% 25%;
    }
 /*--------------------------------------------------SECTION 5 ORDI-----------------------------------------------------*/
 .section_5{
    padding: 25% 10%;
    font-size: 18px;
 }

 #section_5_comp{
     display: flex; 
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;  
     align-items: center; 

 }

 .section_5_text{
     width: 30%;   
     padding: 5% 0%;      
 }
 /*--------------------------------------------------SECTION 6 ORDI-----------------------------------------------------*/
 #section_6_comp{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center; 
    padding: 0% 10%;
}

.section_6_text{
    width: 30%;     
}

.bothon-1 {
    height: 2.5vw;
    font-size: 12px;
}
.logos1{
    width: 30%;
}
#border {
    border-style: outset;
    border-radius: 10px;
    background-color: white;
    width: 30vw;
    height: 38vh;
    padding: 7% 5%;
}
 /*--------------------------------------------------FOOTER ORDI-----------------------------------------------------*/
 #listes{
     padding: 10% 10%;
     font-size: 14px;
 }


}
